%h4 Spacewar

%input#chat-input
#messages

#scorebar
  Score:
  %span.score 100

#screen

#status
  %span
    X:
  %span.x
    123
  &nbsp;
  %span
    Y:
  %span.y
    456

  .arrows
    %span.left &#9668;
    %span.up &#9650;
    %span.down &#9660;
    %span.right &#9654;
