%p.para
  Aliquip pariatur aute in commodo velit officia voluptate tempor proident dolore magna quis do. Labore Lorem commodo consequat duis consequat occaecat anim deserunt ad adipisicing velit amet reprehenderit. Non irure enim tempor id consectetur exercitation magna cupidatat enim. Nostrud esse ad consequat aute anim Lorem labore consequat exercitation voluptate velit laborum et.

%h4 Spacewar

%input#chat-input
#messages

#scorebar
  Score:
  %span.score 100

%svg#screen

#status
  %span
    X:
  %span.x
    123
  &nbsp;
  %span
    Y:
  %span.y
    456

  .arrows
    %span.left &#9668;
    %span.up &#9650;
    %span.down &#9660;
    %span.right &#9654;
