@font-face {
	font-family: 'Carbon';
	src: url('fonts/CarbonBold.eot');
	src: local('☺'),
       url('fonts/CarbonBold.woff') format('woff'),
       url('fonts/CarbonBold.ttf') format('truetype'),
       url('fonts/CarbonBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Carbon';
	src: url('fonts/CarbonRegular.eot');
	src: local('☺'),
       url('fonts/CarbonRegular.woff') format('woff'),
       url('fonts/CarbonRegular.ttf') format('truetype'),
       url('fonts/CarbonRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
